body {
	background: url("../images/congruent_pentagon.png");
	font-size: 16px;
}

.content {
	background-color: #fff;
	text-align: center;
	margin-top: 70px;
	height: 500px;
}

#answers {
	padding: ;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 4em;
}

button {
	background: #64e591;
    border: medium none;
    padding: 10px 0px 10px 0px;
    width: 450px;
    font-size: 18px;
    margin-bottom: 10px;
}

button:hover {
	background: none repeat scroll 0 0 transparent;
}

/* hides buttons when no question is on the page */
.hide {
	display: none;
}