body {
	background: url("../images/congruent_pentagon.png");
	font-size: 16px;
}

.content {
	background-color: #fff;
	text-align: center;
	margin-top: 70px;
	height: 500px;
}

#startButton {
	margin-top: 130px;
}


h1 {
	/* font-family: 'Lobster', cursive; */
	font-family: 'Roboto Slab', serif;
	font-size: 4em;
	color: #e8a010;
	text-shadow: 1px 1px 0 #a55500,
    -2px 2px 0 #a55500,
    2px -2px 0 #a55500,
    -2px -2px 0 #a55500,
    1px 2px 0 #a55500,
    1px -2px 0 #a55500,
    -2px 1px 0 #a55500,
    2px 1px 0 #a55500,
    3px 3px 0 #a55500,
    -3px 3px 0 #a55500,
    3px -3px 0 #a55500,
    -3px -3px 0 #a55500,
    1px 3px 0 #a55500,
    1px -3px 0 #a55500,
    -3px 1px 0 #a55500,
    3px 1px 0 #a55500,
    2px 3px 0 #a55500,
    -2px 3px 0 #a55500,
    2px -3px 0 #a55500,
    -2px -3px 0 #a55500,
    3px 2px 0 #a55500,
    -3px 2px 0 #a55500,
    3px -2px 0 #a55500,
    -3px -2px 0 #a55500;
}

button {
	background: #64e591;
    border: medium none;
    padding: 10px 0px 10px 0px;
    width: 450px;
    font-size: 18px;
    margin-bottom: 10px;
}

button:hover {
	background: #e8a010;
}

/* hides buttons when no question is on the page */
.hide {
	display: none;
}